html, body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  background: #0e0e10;
  color: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: relative;

  display: flex;
  align-items: center;

  font-weight: bold;
  font-size: 24px;

  gap: 4px;
}

fieldset {
  border: 1px solid #555;
}

.radio-option {
  display: flex;
}

input[type="text"] {
  background: #0e0e10;
  color: white;
  border: 0;
  border-bottom: 1px solid #555;
  border-radius: 0px;
  padding: 4px;
  width: 80vw;

  outline: none;
}